<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet"
href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<style>
	td {padding-right: 5px;}
</style>



<div class="progress" style='visibility: hidden;margin-block-end: 0;margin-block-start: 0;'>
    <div id='progress_id' class="indeterminate green accent-4"></div>
</div>

<div ng-app="" class="sidebar" style='margin-block-start: 0;'>

<div id='result_card' class="row" style='display: none;'>
    <div class="col s12 m6">
        <div class="card green lighten-5">
        <div class="card-content black-text">
            <p id='result_text'>Placeholder</p>
        </div>
        </div>
    </div>
</div>

<!--<div id='result' class='block current' style='display: none; visibility: hidden;
margin-block-start: 0;'>Placeholder</div>-->

<form style="margin: 0; padding: 0;">

<h1 style="font-size: 16px;line-height: 24px;font-weight: bold;margin-block-start: 10px;margin-block-end: 0;">Actions</h1>

<table style="padding-left: 5px">    
    <tr>
        <td colspan="3">User sheets</td>        
    </tr>
    <tr>		
        <td><button onClick="generateAllUsers(false)" id="sheetGenAllButton" class="create" style="width:100%">CREATE ALL</button></td>
        <td><button onClick="startGenerateSelectedUser()" id="sheetGenSelButton" style="width:100%">Create selected</button></td>
        <td></td>
    </tr>    
    <tr>		        
        <td><button onClick="startUpdateActiveUser()" id="sheetUpdateActiveButton" style="width:100%">Update active</button></td>
        <td><button onClick="generateAllUsers(true)" id="sheetUpdateAllButton" style="width:100%">Update all</button></td>
        <td></td>
    </tr>    
    <tr>
        <td colspan="3">User evaluation section</td>        
    </tr>
    <tr>
        <td><button onClick="startGenerateEvaluationActiveUser()" id="activeUserEvaluationButton" class="action" style="width:100%">Generate active</button></td>
        <td><button onClick="startGenerateEvaluation()" id="evalGenButton" style="width:100%">Generate all</button></td>        
        <td></td>
    </tr>        
</table>

<h1 style="font-size: 16px;line-height: 24px;font-weight: bold;">Settings</h1>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>
        Sheet Zone Settings</div>
        <div class="collapsible-body">
                <table style="padding-left: 5px;"> 
                    <tr>
                        <td>Col last competence</td>
                        <td><input type="text" id="colLastGrade" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                    </tr>
                    <tr>
                        <td>Row first grade</td>
                        <td><input type="text" id="rowFirstData" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                    </tr>
                
                    <tr>
                        <td>Col first competence</td>
                        <td><input type="text" id="colFirstGrade" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                    </tr>
                    <tr>
                        <td>Col userid (Gmail address)</td>
                        <td><input type="text" id="spalteUsernamen" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                    </tr>
                </table>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">rate_review</i> Rating Settings</div>
        <div class="collapsible-body">
            <table style="padding-left: 5px;"> 
                <tr>
                    <td>Minimum points</td>
                    <td><input type="text" id="punkteMin" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Maximum Points</td>
                    <td><input type="text" id="punkteMax" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>	
                <!-- <tr>
                    <td>Bewertungsmethode</td>
                    <td>
                        <select id="noten" onchange="onSettingsChange()">
                            <option value="true">Noten</option>
                            <option value="false">Punkte</option>
                        </select>
                    </td>
                </tr> -->
            </table>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i> Labels</div>
      <div class="collapsible-body">
            <table style="padding-left: 5px;"> 
                <tr>
                    <td>Template Sheet</td>
                    <td><input type="text" id="nameVorlage" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Delete Marker</td>
                    <td><input type="text" id="deletionMarker" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Points to achieve</td>
                    <td><input type="text" id="maxPointsText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Sum rating</td>
                    <td><input type="text" id="endRatingText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Rated Students</td>
                    <td><input type="text" id="ratedPersonText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Competences</td>
                    <td><input type="text" id="competencesText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Average per Competence</td>
                    <td><input type="text" id="averageRatingText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
                <tr>
                    <td>Median per Competence</td>
                    <td><input type="text" id="medianRatingText" style="width: 100px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
                </tr>
            </table>
      </div>
    </li>
</ul>

<div style="text-align: right;"><button onClick="saveSettings()" id="saveButton" disabled="true">Save</button></div>

</form>
   
</div>    

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"> </script>
<script> 
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.collapsible');
  var options = "";
  var instances = M.Collapsible.init(elems, options);
  });
</script>


<script>

getSettings();
function setSettings(settings){
	  document.getElementById("colFirstGrade").value = ((settings['colFirstGrade']).toString());
	  document.getElementById("colLastGrade").value = ((settings['colLastGrade']).toString());
	  document.getElementById("spalteUsernamen").value = settings['spalteUsernamen'];
	  document.getElementById("rowFirstData").value = settings['rowFirstData'];
	  document.getElementById("punkteMin").value = settings['punkteMin'];
	  document.getElementById("punkteMax").value = settings['punkteMax'];
// 	  document.getElementById("noten").value = settings['noten'];
	  document.getElementById("nameVorlage").value = settings['nameVorlage'];
	  document.getElementById("deletionMarker").value = settings['deletionMarker']; 
	  document.getElementById("medianRatingText").value = settings['medianRatingText']; 
      document.getElementById("maxPointsText").value = settings['maxPointsText']; 
      document.getElementById("endRatingText").value = settings['endRatingText']; 
      document.getElementById("ratedPersonText").value = settings['ratedPersonText']; 
      document.getElementById("competencesText").value = settings['competencesText']; 
      document.getElementById("averageRatingText").value = settings['averageRatingText']; 
}

function getSettings() {	        
        google.script.run
        .withSuccessHandler(setSettings)
        .withFailureHandler(onFailure)
        .getSettings();
}
      
function saveSettings() {
		var saveSettings = new Object();
		saveSettings['colFirstGrade'] = document.getElementById("colFirstGrade").value;
		saveSettings['colLastGrade'] = document.getElementById("colLastGrade").value;
		saveSettings['spalteUsernamen'] = document.getElementById("spalteUsernamen").value;
		saveSettings['rowFirstData'] = document.getElementById("rowFirstData").value;
		saveSettings['punkteMin'] = document.getElementById("punkteMin").value;
		saveSettings['punkteMax'] = document.getElementById("punkteMax").value;
// 		saveSettings['noten'] = document.getElementById("noten").value;
		saveSettings['nameVorlage'] = document.getElementById("nameVorlage").value;
		saveSettings['deletionMarker'] = document.getElementById("deletionMarker").value;
		saveSettings['medianRatingText'] = document.getElementById("medianRatingText").value;
        saveSettings['maxPointsText'] = document.getElementById("maxPointsText").value;
        saveSettings['endRatingText'] = document.getElementById("endRatingText").value;
        saveSettings['ratedPersonText'] = document.getElementById("ratedPersonText").value;
        saveSettings['competencesText'] = document.getElementById("competencesText").value;
        saveSettings['averageRatingText'] = document.getElementById("averageRatingText").value;
        google.script.run.saveDocumentProperties(saveSettings);
        document.getElementById("saveButton").disabled = true;
        buttonsSheetCreationEnable();
}
function onSettingsChange(){
	document.getElementById("saveButton").disabled = false;
    buttonsSheetCreationDisable();
}

function buttonsSheetCreationDisable(){
    document.getElementById("sheetGenAllButton").disabled = true;
	document.getElementById("sheetGenSelButton").disabled = true;
    document.getElementById("evalGenButton").disabled = true;
    document.getElementById("activeUserEvaluationButton").disabled = true;
    document.getElementById("sheetUpdateAllButton").disabled = true;
    document.getElementById("sheetUpdateActiveButton").disabled = true;
}

function buttonsSheetCreationEnable(){
    document.getElementById("sheetGenAllButton").disabled = false;
	document.getElementById("sheetGenSelButton").disabled = false;
    document.getElementById("evalGenButton").disabled = false;
    document.getElementById("activeUserEvaluationButton").disabled = false;
    document.getElementById("sheetUpdateAllButton").disabled = false;
    document.getElementById("sheetUpdateActiveButton").disabled = false;
}

function generateAllUsers(update) {
    runningFeedback();
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .startGenerateAllUsers(update);
}
function startUpdateActiveUser() {
    runningFeedback();
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .startUpdateActiveUser();
}
function startGenerateSelectedUser() {
    runningFeedback();
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .startGenerateSelectedUser();
}
function startGenerateEvaluationActiveUser(){
    runningFeedback();
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .startGenerateEvaluationActiveUser();    
}

function startGenerateEvaluation() {
    runningFeedback();
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .startGenerateEvaluation();
}

function clickAction(){    
    google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .testSpinner();
}

function runningFeedback(){
    buttonsSheetCreationDisable();
    var result_card = document.getElementById('result_card');
    result_card.style.display = "none";
    //var div = document.getElementById('result');
    //div.classList.remove("gray");
    //div.classList.remove("error");
    //div.classList.add("current");   
    //div.style.display = "none";
    //div.innerHTML = 'Running...';
    //div.style.visibility = 'visible';
    var div_progress = document.getElementById('progress_id');
    div_progress.style.visibility = 'visible';
    // div.innerHTML = '<div>Running...<br><img src="https://lh3.googleusercontent.com/-ib5VHJ4MbkYh_5sX7hyM_vfeyYGtzYYVE7XhOH797xcE6sWdvKn5tlqZpNXksbA4SSWBlQY7jC28mD3PAMgEaxvsVSDQZ23mmh5ORlG7RRrPIvEmtLiZ5fZ6VSUEFwoj_Sswm_Lkzce8WTWJghctJDEpoqon8OQC2-fg7IuFU8nuBpkFNVFDGtle_HVTgCIjmPAg0BxLVPSZ1beRjMmupcbFq6fEgsLIb8SfcLuZrqWuP52wdn5RUFrm34DoL43gt6coFaQQ3zQqICkjzzq2u2tM9B4VliT3-CW4nQWrDECzadUSQZWjO87anI_LLjINwa4hhP_TZrrGSHBqw417sQwgHP0_wPvibx-5BlwFA7efFTcs-WBcZCLZ0O5ffXCK4NVYdCoaHFr956_pNC1cnZPJSBu8rEY5eCG1oBR5WRXglyVPe4wGjfuNA33hax1_05KWq3UHPRils4rv71QmhK22V1oShaAgTS40bY8fl7IvQm41rvq7fNcIroZe1BBeV5tZ3GT5KVzDZAitCbVJaSbdrOLb2qA9mnU2LkvWrF6hRHsA5B-c8wh3drXqKR6wmIWuo8KCaBj6MXVKDlZ1qY4mVpCL8Xc9pPRCEESc86tOeNS8caae3qQLGBN5RsngJf_-rPsbjLMIwQjZEdjpg3I4pIw=s96-no"></div>';
}

function onSuccess() {
    var div = document.getElementById('result');
    //div.innerHTML = 'Success!';
    //div.classList.remove("current");
    //div.classList.remove("error");
    //div.classList.add("gray");    
    //div.style.display = "none";
    //div.style.visibility = 'hidden';
    var div_progress = document.getElementById('progress_id');
    div_progress.style.visibility = 'hidden';
    getSettings();
    buttonsSheetCreationEnable();
}

function onFailure(error) {
    var result_card = document.getElementById('result_card');
    //div.innerHTML = error.message;
    //result_card.style.visibility = 'visible';
    //div.classList.remove("current");
    //div.classList.remove("gray");
    result_card.style.display = "block";
    //div.classList.add("error");
    var result_text = document.getElementById('result_text');
    result_text.innerHTML = error.message;
    var div_progress = document.getElementById('progress_id');
    div_progress.style.visibility = 'hidden';
    getSettings();
    buttonsSheetCreationEnable();
}

</script>
       